<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>630772916322-s66uvch3gg7op232ljdr2c3vmkmcoctj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.630772916322-s66uvch3gg7op232ljdr2c3vmkmcoctj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>630772916322-el4uf6kri6afv3fa1t9ffbka2sh95r63.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB9PYWB7D6a_YfwnhLJY4qkFrHCryWmFZw</string>
	<key>GCM_SENDER_ID</key>
	<string>630772916322</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.thestartuphub</string>
	<key>PROJECT_ID</key>
	<string>startup-hub-4660f</string>
	<key>STORAGE_BUCKET</key>
	<string>startup-hub-4660f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:630772916322:ios:a4c016383748a6e79cf13b</string>
</dict>
</plist>